@import url("https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@600&family=Rubik:wght@600;800&family=Source+Sans+Pro:wght@700&family=Ubuntu:wght@700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MATERIAL ICONS */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* NAVBAR */
.navbar-web {
  width: 100%;
  height: 7vh;
  background-color: rgb(200, 200, 200);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.navbar-web p {
  font-size: 2vh;
  font-family: "Ubuntu";
  color: white;
  margin: 30px;
}
.navbar-web div {
  height: 4vh;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-web div:hover {
  background: rgba(210, 210, 210, 0.8);
  cursor: pointer;
}
.navbar-mobile {
  display: none;
}

@media screen and (max-width: 720px) {
  .navbar-web {
    display: none;
  }
  .navbar-mobile {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 6vh;
    background: rgb(200, 200, 200);
  }
  .sidenav-mobile {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
  .sidenav-mobile a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav-mobile a:hover {
    color: #f1f1f1;
  }

  /* Position and style the close button (top right corner) */
  .sidenav-mobile .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
  }
  .sidenav-mobile p {
    font-size: 3vh;
    font-family: "Ubuntu";
    color: white;
    margin: 30px 0 30px 20px;
  }
}

/*START SITE*/
.start-wrapper {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
}
.start-img {
  width: 100%;
}
.start-txt1-wrapper {
  width: 100%;
  height: 80vh;
  background-color: rgba(100, 100, 100, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start-txt1-header {
  font-family: "Ubuntu";
  font-size: 5vh;
  color: #ffffff;
}
.start-txt1-description-wrapper {
  width: 80%;
}
.start-txt1-description {
  font-size: 2vh;
  font-family: "Ubuntu";
  color: rgba(255, 255, 255, 0.8);
}
.start-c-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.start-c1-logo {
  width: 30%;
  cursor: pointer;
}
.start-c2-logo {
  width: 30%;
  cursor: pointer;
}
