@import url("https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@600&family=Rubik:wght@600;800&family=Source+Sans+Pro:wght@700&family=Ubuntu:wght@700&display=swap");

@font-face {
  font-family: Cubano;
  src: url("./fonts/cubano-regular-webfont.ttf");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #171a21;
}
.navbar {
  background-color: rgba(36, 41, 54, 0.8);
  width: 100%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-items {
  display: none;
}
.checkbox {
  display: none;
}
.nav-logo {
  height: 9vh;
  margin: 5px 0 0 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.nav-text {
  font-size: 150%;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Cubano";
  margin: 0 10px 0 10px;
  cursor: pointer;
}
.nav-text:hover {
  color: rgba(255, 255, 255, 0.8);
}
.content {
  width: 100%;
}
@media screen and (max-width: 780px) {
  .nav-logo {
    display: none;
  }
  .nav-text {
    display: none;
  }
  .ham-menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
  }
  .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .menu-items {
    position: absolute;
    top: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    transform: translate(-100%);
    transition: transform 0.5s ease-in-out;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .nav-text-mobile {
    font-size: 3vh;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Cubano";
    cursor: pointer;
  }
  .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    opacity: 0;
  }
}
